body {
    background-color: black;
    font-family: "Poppins";
    margin: 0;
    
  }
  h1 {
    color: white;
    
  }
  h2 {
    color: white;
    
  }
  h3 {
    color: white;
   
  }

  p {
    color: white;
    

  }

  nav{
    background-color: #000000;
    height: 60px;
    width: 100%;
    padding:1%;
  
    

  }

  label.logo {
    font-size: 35px;
    font-weight: bold;
    line-height:60px;
    padding: 0 20px;
    color: white;
 
  }

  nav ul{
    float: right;
    margin-right: 10px;
    margin-right: 5%;
    
  }

  nav ul li {
    display:inline-block;
    line-height: 35px;
    margin: 0 30px;
    
  }

  nav ul li a{
    color:white;
    text-decoration: none;
  }
  
  :active, a:hover{
    text-decoration: underline
  }



  .maintext{
    margin: auto;
    text-align: center;
    width: auto;
    padding: 10%;
    font-size: 200%;
    }

.subtext{
        margin: auto;
        text-align: center;
        width: auto;
        font-size: 150%;
        }




  .maincontainer{
 
    display: flex;

  }

  .sidebar{
    padding: 35px;
    flex: 0.4;
  }

  .sidebar h2{
    color: white;
    font-weight: 500;
    line-height: 60px;
    text-decoration: none;
    font-size: 20px;
    margin: -10px;

  }

 

  .sidebar li a{
    
    color: white;
    line-height: 60px;
    text-decoration: none;
    font-size: 15px;
    margin: -10px;
    
    
  }

  .herotext{
    padding: 35px;
    background-color: #000000;
    flex:2;
  }

  .herotext h2{
    font-weight: 500;
    line-height: 5px;
    margin-left: 35px;
  }

  .herotext p{
    font-weight: 100;
    line-height: 5px;
    margin-left: 35px;
  
  }
  .mcboxwidget1{
    margin: 8px;
    border-radius: 15px;
    background-color: #141414;
    flex:2;
    margin-bottom: 5%;
  }


  .mcboxwidget1 p{
    font-weight: 100;
    line-height: 35px;

  
  
  }


  .locationsensor{
    display: flex
  }

  .mcboxwidget2{
    margin: 8px;
    border-radius: 15px;
    background-color: #141414;
    width: 50%;
    margin-bottom: 5%;
  
  
  }

  .mcboxwidget3{
    margin: 8px;
    border-radius: 15px;
    width: 50%;
    background-color: #141414;
    margin-bottom: 5%;
  
  }
  .mcboxwidget1 h2{
    font-weight: light;
    margin: 20px;
  }

  .mcboxwidget2 h2{
    margin: 20px;
  }


  .mcboxwidget3 h2{
    margin: 20px;
  }


.mcboxwidget1 p{
  margin:40px;
}

.mcboxwidget2 p{
  margin:20px;
}

.mcboxwidget3 p{
  margin:20px;
}
