<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764805872612-evu9curpubra160jfn51fkii407frnab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764805872612-evu9curpubra160jfn51fkii407frnab</string>
	<key>API_KEY</key>
	<string>AIzaSyA9JsHjkcJ85m_YRNvF2WWzlno8lte_WSg</string>
	<key>GCM_SENDER_ID</key>
	<string>764805872612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.digibinnApp</string>
	<key>PROJECT_ID</key>
	<string>digibinn-20537</string>
	<key>STORAGE_BUCKET</key>
	<string>digibinn-20537.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764805872612:ios:f9a7d41cc65e0abd6b25f1</string>
	<key>DATABASE_URL</key>
	<string>https://digibinn-20537-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>